*.in
*.log
*.o
*~
.deps/
/ABOUT-NLS
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.rpath
/config.status
/config.sub
/configure
/depcomp
/install-sh
/intl/
/m4/
/missing
/po/*.header
/po/*.pot
/po/*.sed
/po/*.sin
/po/Makefile
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/stamp-po
/src/xnec2c
/stamp-h1
/ylwrap
Makefile
TAGS
configure.scan
tags
